*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer{
    display:flex;
    justify-content: center;
    align-items: center;
}


.calculator{
    padding: 15px;
    border-radius: 30px;
    display: grid ;
    grid-template-columns: repeat(4, 80px);
    gap: 1px;
}


input{
   grid-column: span 4;
    padding: 2cap;
    width: 100%;
    height: 100%;
    border-width: 1px;
    outline: 5px;
    font-size: 15px;
    text-align: right;
    font-weight: bold;
    color: #fff;
    background-color:white;
    border-radius: 5px;
    cursor:default;
    
}

input button:hover {
    background-color: #708d09;
}
